.content{
	height:2000px;	
}
.t1{
	position: absolute;
	top:250px;
	left: 310px;
	background-color: red;
	width: 80px;
	height: 30px;
	text-align: center;

}
.t2{
	position: absolute;
	top:580px;
	left: 310px;
	background-color: red;
	width: 80px;
	height: 30px;
	text-align: center;
}
.t3{
	position: absolute;
	top:900px;
	left: 310px;
	background-color: red;
	width: 80px;
	height: 30px;
	text-align: center;
}
.t4{
	position: absolute;
	top:1200px;
	left: 310px;
	background-color: red;
	width: 80px;
	height: 30px;
	text-align: center;
}
.t5{
	position: absolute;
	top:1500px;
	left: 310px;
	background-color: red;
	width: 80px;
	height: 30px;
	text-align: center;
}
.t6{
	position: absolute;
	top:1800px;
	left: 310px;
	background-color: red;
	width: 80px;
	height: 30px;
	text-align: center;
}
.t-1{
	position: absolute;
	top:250px;
	left: 310px;
}
.t-2{
	position: absolute;
	top:580px;
	left: 310px;
}
.t-3{
	position: absolute;
	top:900px;
	left: 310px;
}
.t-4{
	position: absolute;
	top:1200px;
	left: 310px;
}
.t-5{
	position: absolute;
	top:1500px;
	left: 310px;
}
.t-6{
	position: absolute;
	top:1800px;
	left: 310px;
}